<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CapaUsuario.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
 <startup useLegacyV2RuntimeActivationPolicy="true">

<supportedRuntime version="v4.0" />

</startup>
    <connectionStrings>
        <add name="CapaUsuario.Properties.Settings.ConexionMySql" connectionString="127.0.0.1" providerName="MySql.Data.MySqlClient" />
        <add name="CapaUsuario.Properties.Settings.bdpersonalConnectionString" connectionString="server=127.0.0.1;user id=root;password=bahamut;database=bdpersonal" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CapaUsuario.Properties.Settings>
      <setting name="Empresa" serializeAs="String">
        <value>Municipalidad Distrital de Corcca</value>
      </setting>
      <setting name="RUC" serializeAs="String">
        <value>20201545430</value>
      </setting>
      <setting name="Lugar" serializeAs="String">
        <value>Corcca</value>
      </setting>
    </CapaUsuario.Properties.Settings>
  </applicationSettings>
</configuration>